@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 4.5rem !important;
        }

        .sm-heading {
            font-size: 1.6rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 70vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;

        .nav-link {
            font-size: 1.7rem !important;
        }
    }

    .menu-branding {
        height: 30vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            width: 170px;
            height: 170px;
        }
    }

    .about-info {
        grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .boxes>div {
        font-size: 1.2rem;
        padding: 1.2rem 2.2rem;
        margin-bottom: 2.2rem;
    }
}

@include mediaSm {
    main {
        .lg-heading {
            font-size: 3rem !important;
        }

        .sm-heading {
            font-size: 1.3rem !important;
        }
    }

    .menu-nav {
        .nav-link {
            font-size: 1.3rem !important;
        }
    }

    .menu-branding {
        .portrait {
            width: 150px;
            height: 150px;
        }
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .boxes>div {
        font-size: .9rem;
        padding: .9rem 1.9rem;
        margin-bottom: 1.9rem;
    }
}